<section class="blog">
  <div class="flex">
    <div class="form">

      <div>
        <label for="title">Titulo</label>
        <input type="text" id="title" [(ngModel)]="newNoticia.title">
      </div>
      <div>
        <label for="url">URL</label>
        <input type="text" id="url" [(ngModel)]="newNoticia.url">
      </div>
      <div>
        <label for="body">Cuerpo de texto</label>
        <textarea id="body" [(ngModel)]="newNoticia.body"></textarea>
      </div>
      <div>
        <label for="date">Fecha</label>
        <input type="date" id="date" [(ngModel)]="newNoticia.date">
      </div>
      <button class="btn" (click)="guardarNoticia()">Guardar Noticia</button>

    </div>
    <div class="content" [innerHTML]="cargarContenido()">
      <!-- <article class="new">
        <figure>
          <img
            src="https://encrypted-tbn0.gstatic.com/licensed-image?q=tbn:ANd9GcTG7aMVWY3XOkXZ031IWeZICO4zBpR4WAtzXWaUnmj0mHhdJbk4HRMgcuW-mgq7WkxDv67IjJL84YuBNeQLoGFKUO9IMCu70Go2zeuW-g"
            alt="piramides de egipto">
        </figure>
        <h3>Titulo de la noticia</h3>
        <div>
          contenido de la noticia
        </div>
        <p>Fecha: 12/07/2025</p>
      </article> -->
    </div>
  </div>
</section>
