.blog {
  max-width: 1200px;
  margin: 40px auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;

  div.form {
    width: 100%;
    padding: 0px 20px;
  }

  div.content {
    width: 100%;
    padding: 0px 20px;
  }
}

@media(width>=900px) {
  .flex {
    div.form {
      width: 40%;
    }

    div.content {
      width: 60%;
    }
  }
}
